@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --clr-white-100: #fff;

  --clr-green-100: #e6fcf5;
  --clr-green-200: #c3fae8;
  --clr-green-400: #087f5b;
  --clr-green-300: #099268;

  --clr-gray-400: #ced4da;
  --clr-gray-200: #495057;
  --clr-gray-300: #868e96;

  --clr-gray-100: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */

body {
  font-family: "Inter", sans-serif;
  color: var(--clr-gray-100);
}

.carousel {
  width: 800px;
  background-color: #087f5b;
  margin: 100px auto;
  border-radius: 8px;
  /* padding: 32px;
  padding-left: 86px; */
  padding: 32px 48px 32px 86px;
  display: flex;
  align-items: center;
  gap: 86px;
  position: relative;
}

img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

/* CONTROL */

.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icons {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.btn--left {
  /* in relation on PARENT ELEMENT  */
  left: 0px;
  top: 50%;
  /* In relation on ELEMENT ITSELF */
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0px;
  top: 50%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 32px);
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #087f5b;
}
